services:
  gluetun:
    image: qmcgaw/gluetun
    container_name: gluetun
    restart: unless-stopped
    cap_add:
      - NET_ADMIN
    devices:
      - /dev/net/tun:/dev/net/tun
    volumes:
      - /cloud/Docker/gluetun/config:/gluetun
    environment:
      - TZ=Asia/Kolkata
      - VPN_SERVICE_PROVIDER=custom
      - VPN_TYPE=openvpn
      - OPENVPN_CUSTOM_CONFIG=/gluetun/custom.conf
      - OPENVPN_USER=${MY_OPENVPN_USER_FROM_ENV_FILE}
      - OPENVPN_PASSWORD=${MY_OPENVPN_PASSWORD_FROM_ENV_FILE}
  filebrowser:
    image: hurlenko/filebrowser
    container_name: filebrowser
    restart: always
    volumes:
      - /cloud/Docker/filebrowser/config:/config
      - /media1/Movies:/data/Movies
      - /media1/Misc:/data/Misc
      - /media2/Porn:/data/PornV2
      - /media2/PornV3:/data/Porn
      - /media2/TV:/data/TV
      - /media2/Downloads:/data/Downloads
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Asia/Kolkata
  proxy:
    image: 'jc21/nginx-proxy-manager:latest'
    container_name: proxy
    restart: unless-stopped
    environment:
      DB_SQLITE_FILE: "/data/database.sqlite"
    ports:
      - '80:80'
      - '443:443'
      - '81:81'
    volumes:
      - /cloud/Docker/proxy/data:/data
      - /cloud/Docker/proxy/letsencrypt:/etc/letsencrypt
  jellyfin:
    image: jellyfin/jellyfin:latest
    container_name: jellyfin
    restart: unless-stopped
    volumes:
      - /cloud/Docker/jellyfin/config:/config
      - /cloud/Docker/jellyfin/cache:/cache
      - /media1:/media1
      - /media2:/media2
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Asia/Kolkata
    network_mode: container:gluetun
    depends_on:
      - gluetun
  jellyseerr:
    image: fallenbagel/jellyseerr:latest
    container_name: jellyseerr
    restart: unless-stopped
    environment:
      - LOG_LEVEL=debug
      - TZ=Asia/Kolkata
    volumes:
      - /cloud/Docker/jellyseerr/config:/app/config
    network_mode: container:gluetun
    depends_on:
      - gluetun
  qbittorrent:
    image: lscr.io/linuxserver/qbittorrent:latest
    container_name: qbittorrent
    restart: unless-stopped
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Asia/Kolkata
      - WEBUI_PORT=8080
      - TORRENTING_PORT=6881
    volumes:
      - /cloud/Docker/qtorrent/config:/config
      - /media2/Downloads:/downloads
    network_mode: container:gluetun
    depends_on:
      - gluetun
  deluge:
    image: lscr.io/linuxserver/deluge:latest
    container_name: deluge
    restart: unless-stopped
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Asia/Kolkata
    volumes:
      - /cloud/Docker/deluge/config:/config
      - /media2/Downloads:/downloads
    network_mode: container:gluetun
    depends_on:
      - gluetun
  prowlarr:
    image: lscr.io/linuxserver/prowlarr:latest
    container_name: prowlarr
    restart: unless-stopped
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Asia/Kolkata
    volumes:
      - /cloud/Docker/prowlarr/config:/config
    network_mode: container:gluetun
    depends_on:
      - gluetun
  jackett:
    image: lscr.io/linuxserver/jackett:latest
    container_name: jackett
    restart: unless-stopped
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Etc/UTC
      - AUTO_UPDATE=true
    volumes:
      - /cloud/Docker/jackett/config:/config
      - /media2/Downloads:/downloads
    network_mode: container:gluetun
    depends_on:
      - gluetun
  radarr:
    image: lscr.io/linuxserver/radarr:latest
    container_name: radarr
    restart: unless-stopped
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Asia/Kolkata
    volumes:
      - /cloud/Docker/radarr/config:/config
      - /media1/Movies:/movies
      - /media2/Downloads:/downloads
    network_mode: container:gluetun
    depends_on:
      - gluetun
  sonarr:
    image: lscr.io/linuxserver/sonarr:latest
    container_name: sonarr
    restart: unless-stopped
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Asia/Kolkata
    volumes:
      - /cloud/Docker/sonarr/config:/config
      - /media2/TV:/tv
      - /media2/Downloads:/downloads
    network_mode: container:gluetun
    depends_on:
      - gluetun
  whisparr:
    container_name: whisparr
    image: ghcr.io/hotio/whisparr:latest
    restart: unless-stopped
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Asia/Kolkata
    volumes:
      - /cloud/Docker/whisparr/config:/config
      - /media2/Porn:/data
      - /media2/Downloads:/downloads
    network_mode: container:gluetun
    depends_on:
      - gluetun
  whisparr3:
    container_name: whisparr3
    image: ghcr.io/hotio/whisparr:v3
    restart: unless-stopped
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Asia/Kolkata
    volumes:
      - /cloud/Docker/whisparr/configV3:/config
      - /media2/Porn:/v2
      - /media2/PornV3:/movies
      - /media2/Downloads:/downloads
    network_mode: container:gluetun
    depends_on:
      - gluetun
  flaresolverr:
    image: ghcr.io/flaresolverr/flaresolverr:latest
    container_name: flaresolverr
    restart: unless-stopped
    environment:
      - LOG_LEVEL=info
      - TZ=Asia/Kolkata
    network_mode: container:gluetun
    depends_on:
      - gluetun
  watchtower:
    image: containrrr/watchtower
    container_name: watchtower
    restart: unless-stopped
    environment:
      - TZ=Asia/Kolkata
      - WATCHTOWER_CLEANUP=true
      - WATCHTOWER_REMOVE_VOLUMES=true
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
  optimizer:
    image: tinkeshwar/video-optimizer-ai:alpha
    container_name: optimizer
    restart: unless-stopped
    env_file:
      - .env
    volumes:
      - /cloud/Docker/ai-optimizer/config:/data
      - /media1/Movies:/video-input/movies
      - /media2/PornV3:/video-input/porn
      - /media2/TV:/video-input/tv
      - /media2/Optimized:/video-output
    environment:
      - SCAN_INTERVAL=30
      - HOST_CPU_MODEL=AMD Ryzen 5 7600 6-Core Processor
      - HOST_TOTAL_RAM=15534148
      - HOST_OS=Linux
      - HOST_OS_VERSION=6.8.0-57-generic
      - AI_MODEL=gpt-4.1-mini
    devices:
      - /dev/dri:/dev/dri
    privileged: true
